<div class="row">
    <div class="l-menu">
      <mat-card *ngIf="!isEdit" >
        <mat-card-title>{{ mainMessage }}</mat-card-title>
      </mat-card>

      <textarea *ngIf="isEdit"  rows="5" cols="40" style="resize: vertical; border: 1px solid #ccc;" [formControl]="textAreaForm">
        {{ mainMessage }}
      </textarea>

      <button *ngIf="isAdmin" mat-button class="new-button" (click)="edit()">
        Edit
      </button>

      <button *ngIf="!isAdmin" mat-button class="new-button blured" (click)="edit()">
        Edit
      </button>
    </div>
</div>